<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header class="jumbotron marsheader">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                    <h1 style="color: white;">Mission to Mars</h1>
                    <p><a class="btn btn-primary btn-lg" style="background-color: #FF9D6F; border: 0px;" href="http://127.0.0.1:5000/scrape" role="button">Refresh Mars Facts</a></p>
                </div>
                
            </div>
        </div>
    </header>
    <div class="container-fluid" >
        <!-- Mars News -->
        <!--<div class="row" id="mars-news">-->
        <div class="row" style="display: flex; flex-direction: row; justify-content: space-around; align-items: end;">    
            <div class="col-md-4" id="mars-news" >
                <h2>In Today's Mars News</h2>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">{{mars.news_title}}</h4>
                        <p>{{ mars.news_paragraph }}</p>
                    </div>
                </div>
            </div>    
            <!--<div class="row" id="mars-featured-image" style="display: flex; flex-direction: row; justify-content: space-around; align-items: end;">-->
            <div class="col-md-4" id="mars-featured-image">
                <h2>Image of the Day!</h2>
                <img src="{{mars.featured_image}}" class="img-responsive" alt="Responsive image" style="display: block;height: 45vh;max-width: 40vw;"/>
            </div>
            <!-- Mars Facts -->
            <div>
                <div class="row" id="mars-facts">
                    <h2>Mars Facts</h2>
                        {{ mars.facts | safe }}
                </div>
            </div>
        </div>

        
        <!-- Section for Mars Hemispheres -->
        <div class="row" id="mars-hemispheres">
            <div class="page-header">
                <h2 class="text-center">Mars Hemispheres</h2>
            </div>
            {% for hemisphere in mars.hemispheres %}
            <div class="col-sm-6 col-xs-12 col-md-3">
                <div class="thumbnail">
                    <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" alt="...">
                    <div class="caption">
                        <h3>{{hemisphere.title}}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>